/* || GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
}

/* global header style */
.global-header {
    height: 200px;
    max-width: 1000px;
    margin-top: 20px;
    margin: 20px auto 20px auto;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main content style*/
.content-wrapper {
    height: 400px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* middle introduction section*/
.main-section-wrapper {
    display: flex;
    width: 600px;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: blanchedalmond;
    align-items: center;
}

/* intro header*/
.main-title {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: pink;
    justify-content: flex-start;
    text-align:left;
}

/* main content */
.main-content {
    padding: 10px;
    display: flex;
    justify-content: center;
    overflow: auto;
}

/* left Sidebar */
.left-sidebar {
    height: 400px;
    width: 200px;
    background-color:lightgreen;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

/* left Sidebar content wrapper */
.left-sidebar-wrapper {
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* box for updates*/
.update-box {
    display: flex;
    height: 200px;
    width: 150px;
    margin: 20px;
    background-color: aliceblue;
    overflow-y: auto;
    overflow-x: hidden;
}

/* right navbar */
.right-navbar {
    height: 400px;
    width: 200px;
    background-color: lightcoral;
    overflow: auto;
    margin-left: auto;
}

/* right navbar content wrapper */
.right-navbar-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
}