@font-face {
    font-family: 'PixelFont';
    src: url('assets/fonts/Jersey10-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixel2';
    src: url('assets/fonts/PixelifySans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HeaderFont';
    src: url('assets/fonts/Simon.woff2') format('woff2');
}
/* ------------GENERAL STYLES------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle 900px at 45% 0%, #ffffff 50%, #dcd4bb );
    font-family: 'Pixel2', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'HeaderFont', sans-serif;
    padding: 10px;
    border: 5px solid #247800;
    border-radius: 3px;
    background-color: white;
}

h2{
    padding: 3px;
    color: #fcffcd;
    font-size: larger;
    -webkit-text-stroke: 4px #103600;
    paint-order: stroke;
}

marquee{
    color: white;
    font-size: larger;
    -webkit-text-stroke: 4px #103600;
    paint-order: stroke;
}
/* global header style */
.global-banner {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    max-width: 1000px;
    margin-top: 20px;
    margin: 20px auto 10px auto;
    background-color: #bff38f;

    /* global banner border */
    box-sizing: border-box;
    border: 7px inset #f4fee1;
    border-radius: 10px;
}

.banner-left{
    display: block;
    margin-right: auto;

    height: 186px;
}

.banner-right{
    display: block;
    margin-left: auto;

    height: 186px;
}

.marquee-bar{
    display: flex;
    align-items: center;
    height: 30px;
    max-width: 993px;
    margin: 10px auto 10px auto;
    overflow: hidden;

    border: 2px solid #247800;
    background: linear-gradient(
    180deg, 
        #e7fdbb 0%, 
        #bff38f 50%,
        #247800 53%,
        #e7fdbb 100%
    );
}
/* all content style*/
.all-content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: max-content;
    max-width: 1000px;
    margin: auto;
}

.main-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: start;

    height: max-content;
    max-width: 1000px;
    margin: auto;
}

/* border style*/
.border{
    /* main desc border */
    box-sizing: border-box;
    border-radius: 10px;
}

.title-round{
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

.img-border{
    border: 23px solid;
    border-image: url('assets/images/general/img-border.gif') 9 round;
    
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.shadow{
    box-shadow: 0px 2px 5px 2px rgba(16, 54, 0, 0.249);
}
/* Global footer style*/
.global-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 300px;
    width: 100%;
    background-color: #6cb04f;
    margin-top: 20px;
}

/* ------------MID SECTION------------*/

/* mid section wrapper style*/
.mid-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 20px 20px;
    height: max-content;
    width: 100%;
    max-width: 600px;

    box-sizing: border-box;
    border: 7px inset #f4fee1;
}

/* mid description section*/
.main-desc-wrapper {
    display: flex;
    flex-direction: column;

    width: auto;
    height: 500px;
    background-color: #DDD5BC;
    overflow-y: auto;
}

.main-desc-wrapper img{
    width: 30%;
    height: auto;

    margin: 0 7% 5% auto;
}
/* description header*/
.main-title {

    display: flex;
    justify-content: flex-start;
    text-align:left;
    width: 100%;
    background: linear-gradient(
    180deg, 
        #e7fdbb 10%, 
        #bff38f 50%,
        #247800 53%,
        #bff38f 100%
    );
}

/* description text*/
.desc-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

/* ------------SIDEBARS------------*/

/* left Sidebar */
.left-sidebar {
    display:block;

    height: 500px;
    width: 200px;
    background-color:rgb(179, 189, 168);
    margin-right: auto;
}

/* left Sidebar content wrapper */
.left-sidebar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    padding: 10px;
}

/* HACK:need to make seperate class for img eventually */
.left-sidebar-wrapper img{
    height: 170px;
    width: 170px;
}

/* right navbar */
.right-navbar {
    display:block;
    flex-shrink: 0;

    height: 500px;
    width: 180px;
    background-color: lightcoral;
    margin-left: auto;
}

/* right navbar content wrapper */
.right-navbar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;   
}

/* ------------INDEX------------*/
.index-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* splashpage door */

.entry-door {
    display: flex;
    
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.entry-door img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;

    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

/* ------------HOMEPAGE------------*/

/* box for updates*/
.update-box {
    display: flex;

    flex-direction: column;

    height: 200px;
    width: 150px;
    margin: 20px;
    background-color: aliceblue;
    overflow-y: auto;
    overflow-x: hidden;
}

/* calendar */
.calendar-box{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 180px;
    width: 180px;
    background-color: bisque;
}

/* ------------SHRINE------------*/
.shrine-bg{
    background: radial-gradient(circle 700px at 45% 20%, #f4fee1 50%, #bff38f );   
}

.shrine{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.shrine-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 5px;
    
    width: auto;
    height: auto;
    background-color: #A08E79;
}

.shrine-wrapper img {
    display: flex;
    max-width: 88%;
    max-height: 88%;
    object-fit: contain;
    margin: 10px;

    image-rendering: pixelated;
    image-rendering: crisp-edges;

    border: 15px solid;
    border-image: url('assets/images/general/border2.gif') 7 round;
}

.shrine-border{
    border-width: 30px 30px 150px 40px;
    border-style: solid;
    border-image: url('assets/images/shrine/shrine-border-png.png') 48 18 160 36 stretch;
}
/* ------------ABOUT ME------------*/

.about-me-bg{
    background: radial-gradient(circle 1000px at 70% 0%, #ffffff 50%, #dcd4bb );
}
.gallery-box {
    display: flex;

    flex-direction: column;

    height: 170px;
    width: 170px;
    margin: 20px;
    background-color: rgb(150, 196, 237);
    overflow: auto;
}

.about-me-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px;
    background-color: #6F933E;
}

.fav-character-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 15px 15px auto;

    width: 40%;
    background-color: aliceblue;
}
.fav-character-title{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 100%;
    background-color: #247800;
}

.fav-character{
    display: flex;
    width: 70%;
    height: 100%;
    object-fit: contain;

    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.fave-character-border{
    border-width: 50px 30px 30px 30px;
    border-style: solid;
    border-image: url('assets/images/about_me/character-border.png') 17 round ;

    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;

    gap: 20px;
    width: 50%;
    height: 330px;
}
.about-me1{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    background-color: #FDFFCD;
}

.about-me2{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    background-color: #DDD5BC;
}